.index-ctn {
    width: 100%;
}

.hdr-logo {

    margin: 10px 460px;

}

.header div {

    float: left;

}

.hdr-dv1 {

    margin-left: 1460px;
}

.hdr-sp1 {
    width: 166px;
    height: 30px;
    background: url("img/arrow_l.jpg") no-repeat;
}

.hdr-sp2 {
    width: 32px;
    height: 30px;
    background: url("img/arrow_l.jpg") no-repeat;
}

.hdr-nav {
    width: 100%;
    height: 56px;
    background: url("img/nav_bg.jpg") repeat-x;

}

.ul1 {
    margin-left: 480px;
}

.ul1 li {
    float: left;
    margin: 0px auto;
}

.ul1 li a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 56px;
    text-align: center;
    padding: 0px 25px;
}

.mn-img {
    margin-left: 460px;
}

.mn-2 {

    margin-left: 460px;
}

.mn2-sp1 {
    font-weight: bold;
}

.mn2-dv1 {
    display: inline-block;
}

.mn2-dv1>span {
    float: left;
}

.mn2-sp2 {
    width: 88px;
    height: 16px;
    background: url("img/icon.jpg") no-repeat;
    margin-left: 530px;

}

.mn-3 {
    margin-top: 10px;
    margin-left: 460px;
}


.mn-3>div {
    float: left;
}



.mn3-dv1 {
    width: 313px;
    height: 200px;
    border: 1px solid red;
}

.mn3-dv1>span {
    float: left;
}

.dv1-sp2 {
    width: 14px;
    height: 14px;
    background: url("img/arrow.jpg") no-repeat;
}

.mn3-dv2>span {
    float: left;
}

.dv2-sp1 {
    width: 14px;
    height: 14px;
    background: url("img/arrow.jpg") no-repeat;
}


.mn3-dv3>span {
    float: left;
}

.dv3-sp1 {
    width: 14px;
    height: 14px;
    background: url("img/arrow.jpg") no-repeat;
}

.mn3-dv2 {
    width: 348px;
    height: 200px;
    border: 1px solid red;
}

.mn3-dv3 {
    width: 313px;
    height: 200px;
    border: 1px solid red;
}